body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #CCCCD9;
  padding: 30px;
  color: #F2F2F2;
  background-color: #F2F2F2;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #3889F2;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}


button {
  background-color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;
}

.complete {
  background-color: #44CF32;
  color: white;
}

.complete:hover {
  background-color: #35A127;

}

.remove {
  background-color: #C72E35;
  color: white;
}

.remove:hover {
  background-color: #982E35
}

.tobuy-list {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid black;
}

.tobuy {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tobuy-form {
  border-top: 1px solid black;
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.filter,
.search {
  border-top: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
